



    <!-- ======= Portfolio Section ======= -->
    <section id="work" class="portfolio-mf sect-pt4 route">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <div class="title-box text-center">
                <h3 class="title-a">
                  Projects
                </h3>
                <p class="subtitle-a">
                  These are my hand works or Some of my Projects
                </p>
                <div class="line-mf"></div>
              </div>
            </div>
          </div>
      
          <div class="row">
            {% for p in project %}
            <div class="col-md-4">
              <div class="work-box">
              
                <a href="{{p.image.url}}" data-gall="portfolioGallery" class="venobox">
 
                  <div class="work-img">
               
                    <img src="{{p.image.url}}" alt="" class="img-fluid">
                  </div>
                </a>
              
                <div class="work-content">
                  <div class="row">
                    <div class="col-sm-8">
                      <h2 class="w-title"> {{p.description}} </h2>
                      <div class="w-more">
                        <span class="w-ctegory"> {{p.title}} </span> / <span class="w-date"></span>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="w-like">
                        <a href="{{p.link}}"> <span class="fas fa-arrow-circle-right"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section><!-- End Portfolio Section -->
  